.about{
    /* About Us */


height: 83px;

/* H2 64px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
/* or 83px */
text-align: right;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
flex-grow: 0;

}

.frow{
    display: flex;
    flex-direction: row;
    height: 1000px;
    width: 100%;
}
.frow1{
    display: flex;
    flex-direction: row;
    height: 300px;
    padding-top: 50px;
    width: 100%;
}
.foot{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    background-image: url(./images/malik.png);


}
.columto{
    
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    color: aliceblue;
    width: 33%;
    align-items: center;
    padding-left: 50px;

}
.columthree{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 33%;
    padding-top: 50px;
    align-items: center;

}

.columfour{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 33%;
    align-items: center;
    padding-top: 90px;
    padding-left: 150px;
}
.g{
    align-items: center;
    justify-content: center;
    margin-left: 32%;
}

.columto1{
    
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 20%;
    align-items: center;

}
.columthree1{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 20%;
    align-items: center;

}

.columfour1{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 20%;
    align-items: center;
}
.columthree2{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 20%;
    align-items: center;

}

.columfour2{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 20%;
    align-items: center;
}

.comm{
    display: flex;
    flex-direction: row;
    background-image: url(./images/malik.png);
    width: 100%;
    height: 1000px;
}
.comm1{
    display: flex;
    flex-direction: row;
    background-image: url(./images/malik.png);
    width: 100%;
    height: 400px;
}
.box1 {
    background-image: linear-gradient(#DCCA87,#DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      url("images/Mask.png");
    background-repeat: no-repeat;
    background-size: 10px 50%, 50% 10px, 10px 50%, 50% 10px, calc(100% - 2px) calc(100% - 5px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    
    height: 540px;
    width: 500px;
    margin: 40px;
  }
  .box3 {
    background-image: linear-gradient(#DCCA87,#DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      linear-gradient(#DCCA87, #DCCA87),
                      url("images/glass.png");
    background-repeat: no-repeat;
    background-size: 10px 50%, 50% 10px, 10px 50%, 50% 10px, calc(100% - 2px) calc(100% - 5px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    
    height: 540px;
    width: 500px;
    margin: 40px;
  }
.rowone{
X: 84.5px
Y: 0px
W: 243px
H: 58px
X constraint: Left
Y constraint: Top
Text Style: H3 45px Cormorant upright Semi
Font family: Cormorant Upright
Font style: SemiBold
Font size: 45px
Line height: 58px
Line height: 130%
Align: Center
Vertical align: Top
Letter spacing: 4%
Number case: Lining
Number spacing: Tabular
Fill Color Style: FFFFFF
Fill: Solid
#FFFFFF
}
.contentf{
    background-color: black;
    height: 300px;
    width: 800px;
    margin-left: 350px;
    justify-content: center;

}
.news{
    /* Newsletter */

width: 104px;
height: 30px;

/* H5 23px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
/* identical to box height, or 30px */
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* FFFFFF */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.subscribe{
    /* Subscribe to Our Newsletter */

width: 776px;
height: 83px;

/* H2 64px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
/* or 83px */
text-align: center;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}
.miss{
    /* And never miss latest Updates! */

width: 250px;
height: 28px;

/* Body 16px Regular */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
/* identical to box height, or 28px */
text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.search{
/* Rectangle 22 */

box-sizing: border-box;
width: 635px;
height: 60px;
left: 0px;
top: 0px;

/* F5EFDB */
border: 1px solid #F5EFDB;



}
.Todays{
    /* Today’s Special */

width: 407px;
height: 83px;

font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 130%;
/* or 83px */
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
flex-grow: 0;

}
.men{
    /* Menu that fits you palatte */

width: 267px;
height: 30px;

font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 30px */
letter-spacing: 0.04em;
text-transform: capitalize;

/* FFFFFF */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
flex-grow: 0;

}
.logo{
    /* Rectangle 32 */

position: absolute;
width: 1920px;
height: 1045px;
left: 0px;
top: 0px;

background: #040404;
opacity: 0.5;
/* Rectangle 32 */

position: absolute;
width: 1920px;
height: 1045px;
left: 0px;
top: 0px;

background: #040404;
opacity: 0.5;

}
#fooot{
    /* Contact Us */

width: 150px;
height: 38px;

/* H4 32px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 130%;
/* identical to box height, or 42px */
letter-spacing: 0.02em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* F5EFDB */
color: #F5EFDB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

#foooth{
    /* Working Hours */

width: 203px;
height: 42px;

/* H4 32px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 130%;
/* identical to box height, or 42px */
letter-spacing: 0.01em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* F5EFDB */
color: #F5EFDB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
#fooo{
/* Gerícht */

width: 289px;
height: 83px;

font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 130%;
/* or 83px */
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
#foo{
    /* "The best way to find yourself is to lose yourself in the service of others.” */

width: 438px;
height: 56px;

/* Body 16px Regular */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
/* or 28px */
text-align: center;
letter-spacing: 0.04em;

/* FFFFFF */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.roww{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}
.coll{
    display: flex;
    flex-direction: column;

}
.head{
    /* Bib Gourmond */

width: 143px;
height: 30px;

/* H5 23px Cormorant Upright */
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
/* identical to box height, or 30px */
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.bod{
    /* Lorem ipsum dolor sit amet, consectetur. */

width: 190px;
height: 56px;
padding-top: 40px;

/* Body 16px Regular */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
/* or 28px */
letter-spacing: 0.04em;

/* AAAAAA */
color: #AAAAAA;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.img{
    height: 60px;
    width: 60px;
}
.find{
    /* Find Us */

width: 100%;
height: 83px;

font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 130%;
/* or 83px */
text-align: center;

text-transform: capitalize;

/* DCCA87 */
color: #DCCA87;


/* Inside auto layout */
flex: none;
flex-grow: 0;

}

@media(max-width: 786px){
    .frow{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .frow1{
        display: flex;
        flex-direction: column;
        height: 300px;
        padding-top: 50px;
        width: 100%;
    }
    .foot{
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 100%;
        background-image: url(./images/malik.png);
    
    
    }
    .columto{
        
        display: flex;
        padding-top: 100px;
        flex-direction: row;
        color: aliceblue;
        width: 100%;
        align-items: center;
    
    }
    .columthree{
        display: flex;
        padding-top: 20px;
        flex-direction: row;
        color: aliceblue;
        width: 100%;
        align-items: center;
    
    }
    
    .columfour{
        display: flex;
        padding-top: 20px;
        flex-direction: row;
        color: aliceblue;
        width: 100%;
        align-items: center;

    }
    
    .columto1{
        
        display: flex;
        flex-direction: row;
        color: aliceblue;
        width: 100%;
        align-items: center;
    
    }
    .columthree1{
        display: flex;
        flex-direction: row;
        color: aliceblue;
        align-items: center;
    
    }
    
    .columfour1{
        display: flex;
        flex-direction: row;
        color: aliceblue;
        width: 100%;
        align-items: center;
    }
    .columthree2{
        display: flex;
        flex-direction: row;
        color: aliceblue;
        width: 100%;
        align-items: center;
    
    }
    
    .columfour2{
        display: flex;
        flex-direction: row;
        color: aliceblue;
        width: 100%;
        align-items: center;
    }
    
    .comm{
        display: flex;
        flex-direction: column;
        background-image: url(./images/malik.png);
        width: 100%;
        height: 1000px;
    }
    .comm1{
        display: flex;
        flex-direction: column;
        background-image: url(./images/malik.png);
        width: 100%;
        height: 400px;
    }
    
    .contentf{
        background-color: black;
        height: 300px;
        width: 80px;
        margin-left: 350px;
        justify-content: center;

    }
    .subscribe{
        /* Subscribe to Our Newsletter */
    
    width: 7px;
    height: 8px;
    
    /* H2 64px Cormorant Upright */
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 6px;
    line-height: 130%;
    /* or 83px */
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    /* DCCA87 */
    color: #DCCA87;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    
    }
    .miss{
        /* And never miss latest Updates! */
    
    width: 20px;
    height: 28px;
    
    /* Body 16px Regular */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    /* identical to box height, or 28px */
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    }
    .search{
    /* Rectangle 22 */
    
    box-sizing: border-box;
    width: 65px;
    height: 60px;
    left: 0px;
    top: 0px;
    
    /* F5EFDB */
    border: 1px solid #F5EFDB;
    
    
    
    }


}
